[Match]
Name=eth1

[Link]
RequiredForOnline=no

[Network]
DHCP=yes
Address=192.168.2.100/24
DNS=8.8.8.8
LinkLocalAddressing=no
ConfigureWithoutCarrier=yes

[DHCP]
UseDNS=yes
RouteMetric=200

[Route]
Gateway=192.168.2.1
Metric=200
GatewayOnLink=yes
