[Unit]
Description=Web Test Interface (Audio/Display/Touch)
After=network.target weston.service
Wants=weston.service
ConditionPathExists=/home/root/webtest/.autostart

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=/run/user/0
WorkingDirectory=/home/root/webtest
ExecStartPre=/bin/sleep 5
ExecStartPre=/bin/sh -c 'test -f /home/root/webtest/.autostart || exit 1'
ExecStartPre=/bin/sh -c 'test -f /home/root/webtest/.wavip_autoplay && /usr/bin/python3 /home/root/webtest/wavip.py || true'
ExecStart=/usr/bin/python3 /home/root/webtest/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
