[Unit]
Description=Restore system time from RTC at boot
DefaultDependencies=no
After=systemd-modules-load.service
Before=sysinit.target systemd-timesyncd.service network-pre.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 1
ExecStart=/sbin/hwclock -f /dev/rtc0 --hctosys
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target

