[Unit]
Description=Sync RTC from system time after NTP

[Service]
Type=oneshot
ExecStart=/sbin/hwclock -f /dev/rtc0 --systohc --update
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
